
    <title>Feed</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <script src="https://kit.fontawesome.com/d7ccb43ad1.js" crossorigin="anonymous"></script>
</head>
<body class="landing is-preload">
    <div id="page-wrapper">

        <!-- Header -->
            <header id="header" class="alt">
                <h1><a href="/">GoodPic</a> by KalaniTech</h1>
                <nav id="nav">
                    <ul>
                        <!--<li>
                            <form method="post" action="#">
                                <div class="row2 search">
                                    <div class="col-9 searchbox">
                                        <input class="searchbar" type="text" name="query" id="query" value="" placeholder="Query" />
                                    </div>
                                    <div class="col-3 searchbutton">
                                        <input type="submit" value="Search" class="fit" />
                                    </div>
                                </div>
                            </form>
                        </li>-->
                        <li><a href="/">Home</a></li>
                        <li>
                            <a href="#" class="icon solid fa-angle-down"><i class="fa-solid fa-bars"></i></a>
                            <ul>
                                <div>
                                    <li><img class="profile-img-small" src="<%=profile[0].profilePic%>" alt="profile picture"></li>
                                    
                                </div>
                                <li><a href="/feed">Feed</a></li>
                                <li><a href="/friends">Following</a></li>
                                
                                
                            </ul>
                        </li>
                        <li><a href="/logout" class="button">Logout</a></li>
                    </ul>
                </nav>
            </header>
        <!--Header End-->
        <!-- Banner -->
            <section id="banner">
                <section class="bannersec">
                    <section class="bannersec2">
                        <h2>Following</h2>
                        <span>Explore your followers</span>
                    </section>
                   
                </section>
                
                
            </section>
        <!--Banner End-->
        <!-- Main -->
            <section id="main" class="container">
                <section class="box">
                <div class="row">
                    <% for(var i=0; i<friends.length; i++) {%>
                        <li class="col-2 justify-content-between mt-5 friends-pic-ct">
                          <%if(nicknames[i] == ""){%>
                            <a href="/guest/<%=friends[i].friend%>">
                            
                              <img class="commenterimg" src="<%=profilepics[i]%>">
                              <p class="namesp"><%=names[i]%></p>
                            </a>
                          <%}else{%>
                            <a href="/guest/<%=friends[i].friend%>">
                            
                              <img class="commenterimg" src="<%=profilepics[i]%>">
                              <p class="namesp"><%=nicknames[i]%></p>
                            </a>
                          <%}%>
                          
                        </li>
                      <% } %>
                   
                </div> 
            
            </section>

        <!-- CTA -->
            <section id="cta">

                <ul class="actions special">
                    <li><a href="/profile" class="button alt">Return to Profile</a></li>
                </ul>

            </section>

        <!-- Footer -->
            <footer id="footer">
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                    <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </footer>

    </div>

    <!-- Scripts -->
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/jquery.dropotron.min.js"></script>
        <script src="../assets/js/jquery.scrollex.min.js"></script>
        <script src="../assets/js/browser.min.js"></script>
        <script src="../assets/js/breakpoints.min.js"></script>
        <script src="../assets/js/util.js"></script>
        <script src="../assets/js/main.js"></script>

</body>

                </div> 

            </section>

        <!-- CTA -->
            <section id="cta">

                <ul class="actions special">
                    <li><a href="/profile" class="button alt">Return to Profile</a></li>
                </ul>

            </section>

        <!-- Footer -->
            <footer id="footer">
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                    <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </footer>

    </div>

    <!-- Scripts -->
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/jquery.dropotron.min.js"></script>
        <script src="../assets/js/jquery.scrollex.min.js"></script>
        <script src="../assets/js/browser.min.js"></script>
        <script src="../assets/js/breakpoints.min.js"></script>
        <script src="../assets/js/util.js"></script>
        <script src="../assets/js/main.js"></script>

</body>