<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

<head>
    <title>Profile</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <script src="https://kit.fontawesome.com/d7ccb43ad1.js" crossorigin="anonymous"></script>
</head>
<body class="landing is-preload">
    <div id="page-wrapper">

        <!-- Header -->
            <header id="header" class="alt">
                <h1><a href="/">GoodPic</a> by KalaniTech</h1>
                <nav id="nav">
                    <ul>
                        <li><a href="/profile">Home</a></li>
                        <li>
                            <a href="#" class="icon solid fa-angle-down"><i class="fa-solid fa-bars"></i></a>
                            <ul>
                                <div>
                                    <li><a><img class="profile-img-small" src="<%=profile[0].profilePic%>" alt="profile picture"><span>Profile</span></a></li>
                                    
                                </div>
                                <li><a href="/feed">Feed</a></li>
                                <li><a href="/friends">Following</a></li>
                                
                                
                            </ul>
                        </li>
                        <li><a href="/logout" class="button">Logout</a></li>
                    </ul>
                </nav>
            </header>

        <!-- Banner -->
            <section id="banner">
                <section>
                    <img class="profile-img" src="<%=guestProfile[0].profilePic%>" alt="profile picture">
                </section>
                
                <p><%=bio[0].Nickname%></p>
                <ul class="actions special">
                    <li>
                        <form action="/friends?_method=PUT" method="POST">
                            <input id="hidden" type="text" name="friendId" value="<%=guestProfile[0].user%>">
                            <button type="submit">Follow</button>
                        </form>
                    </li>
                </ul>
            </section>

        <!-- Main -->
            <section id="main" class="container">

                <section class="box special">
                    <header class="major">
                        <h2>Nickname: <%=bio[0].Nickname%></h2>
                        <br>
                        <p>Favorite Quote: <%=bio[0].Quote%></p>
                    </header>
                    <span class="image featured"><img src="../img/cam1.webp" alt="" /></span>
                </section>

                <section class="box special features">
                    
                    <div class="features-row">
                        <section>
                            <span class="icon solid major fa-solid fa-signature accent2"></span>
                            <h3>What do we call you?</h3>
                            <p>Name:  <%=bio[0].Name%>
                            <br>Nickname: <%=bio[0].Nickname%>
                            </p>
                        </section>
                        <section>
                            <span class="icon solid major fa-regular fa-star accent3"></span>
                            <h3>Lets get astrological</h3>
                            <p>Age: <%=bio[0].Age%>
                                <br>
                                Zodiac: <%=bio[0].Sign%>
                            </p>
                        </section>
                    </div>
                    <div class="features-row">
                        <section>
                            <span class="icon solid major fa-regular fa-heart accent4"></span>
                            <h3>Your favorites</h3>
                            <p>Favorite Food: <%=bio[0].favoriteFood%>
                                <br>Favorite Movie: <%=bio[0].favoriteMovie%>
                                <br>Favorite Artist: <%=bio[0].favoriteArtist%>
                                <br>Favorite Song: <%=bio[0].favoriteSong%>
                            </p>
                        </section>
                        <section>
                            <span class="icon solid major fa-regular fa-face-grin-tongue-squint accent5"></span>
                            <h3>Whats the coolest thing about you?</h3>
                            <p>Coolest: <%=bio[0].Coolest%></p>
                        </section>
                    </div>
                </section>


                <!-- Main -->
            <section  class="box newpost col-10">
                <section class="box special">
                    <header>
                        <h2>Following</h2>
                        <p><strong><%=bio[0].Nickname%></strong> is following....<i class="fa-regular fa-face-grin-wink"></i></p>
                    </header>
                </section>
                
                <div class="box">
                    
                    <h2>Following</h2>
                    <div class="profileImgs-ct row" id="">
                        <ul>
                            <% for(var i=0; i<profile.length; i++) {%>
                                <li class="profileimg-cont">

                                  <img class="profileImgs" src="<%=profile[i].profilePic%>">
                                    <form 
                                        action="/ProfileEdit?_method=PUT"
                                        method="POST">
                          
                                        <input class="hidden" type="hidden" name="profile" value="<%=profile[i].profilePic%>">
                                        <button class="updatebutton" type="submit">
                                         Update Profile
                                        </button>
                                    </form>
                                  
                                </li>
                              <% } %>

                        </ul>
                        
                    </div>
                      
                </div>
            </section>

                <div class="row">
                    <!--<div class="col-6 col-12-narrower">

                        <section class="box special">
                            <span class="image featured"><img src="../images/porsche2.jpg" alt="post" /></span>
                            <h3>Porsche Panarera</h3>
                            <p>Top speed: Faster than you</p>
                            <ul class="actions special">
                                <li><a href="post.html" class="button alt">View Post</a></li>
                            </ul>
                        </section>

                    </div>-->

                    <% for(var i=0; i<posts.length; i++) {%>
                    <div class="col-6 col-12-narrower">

                        <section class="box special">
                            <!--<a href="/post/<%= posts[i]._id%>">

                            </a>-->
                            <span class="image featured"><img src="<%= posts[i].image%>" alt="post" /></span>
                            
                            <h3><%=posts[i].title%></h3>
                            <p><%=posts[i].caption%></p>
                            <ul class="actions special">
                                <li><a href="/post/<%= posts[i]._id%>" class="button alt">View Post</a></li>
                            </ul>
                        </section>

                    </div>
                    <% } %>

                    

                </div>

            </section>

        <!-- CTA -->
            <section id="cta">

                <ul class="actions special">
                    <li><a href="/feed" class="button alt">Return to Feed</a></li>
                </ul>

            </section>

        <!-- Footer -->
            <footer id="footer">
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                    <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </footer>

    </div>

    <!-- Scripts -->
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/jquery.dropotron.min.js"></script>
        <script src="../assets/js/jquery.scrollex.min.js"></script>
        <script src="../assets/js/browser.min.js"></script>
        <script src="../assets/js/breakpoints.min.js"></script>
        <script src="../assets/js/util.js"></script>
        <script src="../assets/js/main.js"></script>

</body>
